<%= form_for @page do |pg| %>

    <% if @page.errors.any? %>
    <div id="errorExplanation">
        <h2>< %= pluralize(@page.errors.count, "error") %> prohibited the URL from being scraped.</h2>
        <ul>
        <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
    <% end %>

    <%= pg.hidden_field :id %>

    <div class="url_entry">
        <%= pg.label :url, 'URL' %><br/>
        <%= pg.text_field :url %>
    </div>

    <div class="actions">
        <%= pg.submit %>
    </div>

<% end %>