<%= form_for @page do |pg| %>

    <% if @page.errors.any? %>
    <div id="error_explanation">
        <h5><%= pluralize(@page.errors.count, "error") %> prohibited the webpage from being processed.</h5>
        <ol>
        <% @page.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ol>
    </div>
    <% end %>

    <%= pg.hidden_field :id %>

    <div class="url_entry">
        <%= pg.label :url, 'URL' %><%= pg.text_field :url, :size => 125 %>
    </div>

    <div class="actions">
        <%= button_to "process webpage", page_update_url( :page_id => @page.id ), :class=>'form_submit', :onclick=>"$('form').submit(); return false;" %>
    </div>

<% end %>