<h2>Webpage word usage summary</h2>
<% if !@page.nil? && !@page[:url].nil? %>
<table border="1">
    <caption>Webpage: <%= @page[:url] %></caption>
    <thead>
        <tr>
            <th>word</th>
            <th>count</th>
        </tr>
    </thead>
    <tbody>
<% @page.word_counts.each do |wc| %>
      <tr>
          <td class="word"><%= wc[:word]  %></td>
          <td class="count"><%= wc[:count] %></td>
      </tr>
<% end
   if @page.word_counts.nil? || @page.word_counts.empty?
%>
        <tr>
            <td colspan="2">No words found on the page.</td>
        </tr>
<% end %>
    </tbody>
</table>
<% elsif @page[:url].nil? %>
    Page with id '<%= @page.id %>' has an empty url. <%= link_to "Update here.", page_update_url( :page_id => @page.id ) %>
<% end %>